body{
    background-color: black;
}
a,h1,h2,p,li{
    font-family: Verdana, sans-serif;
    color: white;
    margin: 30px;
}
.centered{
    text-align: center;
}
h1{
    font-size: 90px;
    color: white;
}

a{
    font-size: 30px;
    text-decoration: none;
    display: block;
    padding: 30px;
    border: 1em solid white;
    background-color: rgb(30, 111, 111);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 40%;
}
.bordered{
    border: 0.4em dotted white;
}